* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
/* First task */
#categories {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
 width: 440px;
  height: auto;
  list-style: none;
  gap: 24px;
}
.item {
  border-radius: 8px;
    padding: 16px;
    width: 392px;
    height: auto;
    background: #f6f6fe;
}
.header-text {
  font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin: 0 auto;
}
.item-text {
  display: flex;
font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: start;


  border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 16px;
}
.item-text:first-child {
  margin-top: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 8px;
}
/* Second task*/
#name-input {
  font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding: 8px 16px;

    border: 1px solid #808080;
      border-radius: 4px;
      width: 360px;
      height: 40px;
      align-items: center;
      justify-content: center;
      text-align: start;
}

.anonymous-header {
  font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.gallery img {
  width: 100%;
  display: block;
}
